{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" {{ if .Site.Params.portfolio.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.portfolio.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="Talks">
      {{ range .Site.Data.projects}}
      {{ if eq .talk true }}
      <a href="#portfolioModal{{ .modalID }}" class="Talk" data-toggle="modal">
        <img src="img/portfolio/{{ .preview }}" class="Talk-image" alt="">
        <div class="Talk-title">
          <h4>{{ .title | markdownify }}</h4>
          <p class="text-muted">{{ .client | markdownify }}</p>
        </div>
      </a>
      {{ end }}
      {{ end }}
    </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Schedule</h2>
          <h4>Schedule is subject to change. 
          </h4>
            <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Time</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">08:00 - 09:00</th>
                <td colspan="2"> <b> Check-in/Breakfast </b> </td>
              </tr>

              <tr>
                <th scope="row">09:00 - 09:15</th>
                <td colspan="2"> <b> Opening Remarks </b> <br> <i> SatRday Chicago Organizers</i> </td>
              </tr>

              <tr>
                <th scope="row">09:10 - 09:45</th>
                <td colspan="2"> <b> Keynote </b> <br> <i> Stephanie Kirmer</i> </td>
              </tr>

              <tr>
                <th scope="row">9:45 - 10:00</th>
                <td colspan="2"> <b> Coffee Break </b> </td>
              </tr>
              
              <tr>
                <th scope="row">10:00 - 11:00</th>
                <td colspan="2"> <b> Session 1 </b> </td>
              </tr>
              <tr>
                <td> <br> <b> Academic and Civic Applications <br> Bioinformatics in R </b> <br> <i> Chase Clark </i> 
                <br> <b>Applying Empirical Bayesian Techniques to Illinois Traffic Stop Data </b> <br> <i> Bryan Berend </i> 
                <br> <b> Spatial point pattern analysis of retail businesses </b> <br> <i> Irene Farah </i> <br> </td>
                <th rowspan="2"></th>
                <td> <br> <b> Industry Applications <br> Correcting bias in customer acquistions models </b> <br> <i> Peter Cooman </i> 
                <br> <b>Building an Analytics Culture at Allstate </b> <br> <i> Adam Austin </i> 
                <br> <b> Lightning talk: MoRtality: Using R for Life Insurance </b> <br> <i> Annie Wang </i>
                <br> <b> Lightning talk: Missing Map Values </b> <br> <i> Brett Kobold </i> <br></td>
              </tr>

              <tr>
                <th scope="row">11:00 - 11:15</th>
                <td colspan="2"> <b> Coffee Break </b> </td>
              </tr>

              <tr>
                <th scope="row">11:15 - 12:15</th>
                <td colspan="2"> <b> Session 2 </b> </td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td> <br> <b> Reproducibility & Workflow Enhancement <br> Recursive Package Dependencies </b> <br> <i> Brian Burns </i> 
                <br> <b>No more “works for me”: Using Docker </b> <br> <i> Patrick Miller </i> 
                <br> <b> Lighting Talk: Making C++ Run Better </b> <br> <i> Adam Lyon </i> 
                <br> <b> Lighting Talk: No APIs? No Problem </b> <br> <i> Josh Goldberg </i> <br> </td>
                <th rowspan="2"> <br> <br></th>
                <td> <br> <b> Building Data Tools (Lightning Talk Round!) <br> Shiny apps for the non-R users </b> <br> <i> David Thomas </i> 
                <br> <b>Client-facing Shiny Apps </b> <br> <i> Sherry Shenker </i> 
                <br> <b> Turning R projects into packages </b> <br> <i> Jane Berkowitz </i>
                <br> <b> Developing an R package for EDA </b> <br> <i> Anh Tran </i>
                <br> <b> People shape software </b> <br> <i> James Lamb </i> 
                <br> <b> How to hire an R Package </b> <br> <i> Emily Riederer </i> 
                <br> <b> Level Up Your Package’s Docs </b> <br> <i> Jay Qi </i> <br> </td>
              </tr>
              
              <tr>
                <th scope="row">12:15 - 1:15</th>
                <td colspan="2"> <b> Lunch </b> </td>
              </tr>

              <tr>
                <th scope="row">01:15 - 01:45</th>
                <td colspan="2"> <b> Keynote </b> <br> <i> JD Long </i> </td>
              </tr>

              <tr>
                <th scope="row">01:45 - 02:00</th>
                <td colspan="2"> <b> Coffee Break </b> </td>
              </tr>

              <tr>
                <th scope="row">02:00 - 03:30</th>
                <td colspan="2"> <b> Session 3 </b> </td>
              </tr>
              <tr>
                <td> <br> <b> Statistical Methods <br> Model Evaluation and Optimization with Real World Costs and Benefits </b> <br> <i> Manny Bernabe </i> 
                <br> <b>LP, IP, and MIP Optimization in R </b> <br> <i> Bill Seliger </i> 
                <br> <b> Class Imbalance Methods in Machine Learning </b> <br> <i> Sushmita Gopalan </i> 
                <br> <b> To be announced </b> <br> <i> Justin Shea </i> <br> </td>
                <th rowspan="2"> <br> <br></th>
                <td> <br> <b> Community Building <br> You can do open source! </b> <br> <i> James Lamb </i> 
                <br> <b>R and RStudio Tips and Tricks </b> <br> <i> Amy Yang </i> 
                <br> <b> How can we make R more accessible to non-coders? </b> <br> <i> Raedy Ping </i>
                <br> <b> Teaching Reproducible Spatial Analysis in R </b> <br> <i> Angela Li </i>
              </td>
              </tr>

              <tr>
                <th scope="row">03:30 - 03:45</th>
                <td colspan="2"> <b> Coffee Break </b> </td>
              </tr>

              <tr>
                <th scope="row">03:45 - 04:45</th>
                <td colspan="2"> <b> Session 4 </b> </td>
              </tr>
              <tr>
                <td> <br> <b> Infrastructure <br> Connecting teams and systems with R’s API tools </b> <br> <i> Alexandra Mangold </i> 
                <br> <b>Leveraging Relational Databases in R </b> <br> <i> Parfait Gasana </i> 
                <br> <b> Introduction to Linux Servers for the useR </b> <br> <i> Kelly O’Briant </i> <br> </td>
                <th rowspan="2"> <br> <br></th>
                <td> <br> <b> Data Wrangling, Visualization, and Applications (Lightning Talk Round!) <br> Reshaping Reveals the Grammar of your Graphics </b> <br> <i> Charlotte Mack </i> 
                <br> <b>Visualizing Uncertainty </b> <br> <i> Will Bonnell </i> 
                <br> <b> Bayesplot </b> <br> <i> TJ Mahr </i>
                <br> <b> Fantastical Picks and where to trade them </b> <br> <i> Tomas Okal </i>
                <br> <b> Web Scraping, Sentiment, and Cluster Analysis </b> <br> <i> Jorge Argueta </i> 
                <br> <b> Psychometrics </b> <br> <i> Kristen Van Tine </i> 
                <br> <b> Prediction as a Microservice </b> <br> <i> Ray Buhr </i> 
                <br> <b> Misadventures in Biodiversity Data Standards </b> <br> <i> Kate Webbink </i> <br> </td>
              </tr>

              <tr>
                <th scope="row">04:45 - 05:00</th>
                <td colspan="2"> <b> Closing Remarks </b> <br> <i> SatRday Chicago Organizers</i> </td>
              </tr>

              <tr>
                <th scope="row">05:00 - 08:00</th>
                <td colspan="2"> <b> On-site Happy Hour </b> </td>
              </tr>

            </tbody>
          </table>


        </div>
      </div>
  </div>
